In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
import joblib

In [12]:
loaded_model = joblib.load('modele_knn.joblib')

new_data = pd.read_csv("housing-tra.csv")

X_new = new_data.drop(columns=["median_house_value"])
y_new = new_data['median_house_value']

y_pred_new = loaded_model.predict(X_new)

mse_new = mean_squared_error(y_new, y_pred_new)
r2_new = r2_score(y_new, y_pred_new)

print("Mean Squared Error (Nouveau jeu de données):", np.sqrt(mse_new))
print("R^2 Score (Nouveau jeu de données):", r2_new)

Mean Squared Error (Nouveau jeu de données): 26686.794469891785
R^2 Score (Nouveau jeu de données): 0.9463563312930844

In [6]:
data = pd.read_csv("housing.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [23]:
longitude = -122.22
latitude = 37.87
housing_median_age = 52
total_rooms = 1627
total_bedrooms = 280
population = 564
households = 260
median_income = 3.8547
ocean_proximity = 'NEAR BAY'

In [24]:
import pandas as pd

nouvelle_ligne_df = pd.DataFrame({
    'longitude': [longitude],
    'latitude': [latitude],
    'housing_median_age': [housing_median_age],
    'median_income': [median_income],
    'ocean_proximity': [ocean_proximity],
    'total_rooms': [total_rooms],
    'total_bedrooms':[total_bedrooms],
    'population':[population],
    'households':[households]
})

prix_predit = model.predict(nouvelle_ligne_df)

print("Prix prédit :", prix_predit)

Prix prédit : [284301.75649987]